assignments/assignment_03/data/*.fna filter=lfs diff=lfs merge=lfs -text
assignments/assignment_03/data/*.txt filter=lfs diff=lfs merge=lfs -text
assignments/assignment_03/data/new_tsv.txt filter=lfs diff=lfs merge=lfs -text
